@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Aleo:ital,wght@0,100..900;1,100..900&family=Mea+Culpa&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.active {
    background-color: white;
    border-color: #472e0f;
}

* {
  font-family: "Roboto", sans-serif;
}

.main-text{
      color: #472e0f;
}

body {
  background-color: #fffdf9;
}

.aleo {
  font-family: "Aleo", serif;
}

.Agbalumo {
  font-family: "Agbalumo", sans-serif;
}

.mea-culpa {
  font-family: "Mea Culpa", cursive;
}

::-webkit-scrollbar {
  display: none;
}

select,input,textarea {
  border: 1px solid #c2c2c2;
  outline-color: #472e0f;
  border-radius: 4px;
}